{% extends "RithisBECRussiaBundle::base.html.twig" %}


{% block content %}
    <section class="article list library">
        <header>
            <h1>Библиотека</h1>
            <div class="filtering">
                Тип: 
                <select>
                {% for name in ['all', 'article', 'book', 'video', 'audio', 'soft'] %}
                    {% set provider_name = "rithis.becrussia.library.provider.#{name}" %}
                    <option
                    {% if provider is sameas(name) %}
                         selected 
                    {% else %}
                         data-href="{{ path("rithis_becrussia_library_library", app.request.query.all|merge({'provider': name})) }}" 
                    {% endif %}
                    >{{ provider_name|trans({}, 'rithis_bec_russia_library') }}</option>
                {% endfor %}
                </select>
            </div>
        </header>

        {% for media in pagination %}
            <div class="library-item">
                <a href="{% path media, "default" %}" >{{ media.name }}</a>
                <span class="provider">{{ media.providerName|trans({}, 'rithis_bec_russia_library') }}</span>
            </div>
        {% endfor %}

        {{ pagination.render("RithisBECRussiaBundle::pagination.html.twig")|raw }}

    </section>
{% endblock %}
