{% extends "form_table_layout.html.twig" %}

{% block captcha_row %}
    <tr>
        <td>
        <label for="{{ id }}">
            <img src="{{ captcha_code }}" title="captcha" width="{{ captcha_width }}" height="{{ captcha_height }}" />
        </label>
        </td>
        <td>
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        </td>
    </tr>
{% endblock %}

{% block captcha_widget %}
    {{ form_widget(form) }}
{% endblock %}
