{% if already_answered %}
    <ul>
        {% for answer in poll.answers %}
            <li>{{ answer.answer }} ({{ answer.count }})</li>
        {% endfor %}
    </ul>
{% else %}
    <form action="{{ path("rithis_becrussia_poll_postresults", {id: poll.id}) }}" method="post">
        <ul>
            {% for answer in poll.answers %}
                <li><label><input type="radio" name="answer" value="{{ answer.id }}">{{ answer.answer }}</label></li>
            {% endfor %}
        </ul>

        <button type="submit" class="alternative button">Проголосовать</button>
    </form>
{% endif %}
