{% extends "RithisBECRussiaBundle::base.html.twig" %}

{% block content %}
<section class="article">
    <header>
        <h2>Школа "{{ school.title }}"</h2>
    </header>

    <nav class="pills">
        <ul>
            <li><a href="{{ path("rithis_becrussia_school_get", {slug: school.slug}) }}">О школе</a></li>
            <li><a href="{{ path("rithis_becrussia_school_teachers", {slug: school.slug}) }}">Преподаватели</a></li>
            <li><a href="{{ path("rithis_becrussia_school_news", {slug: school.slug}) }}">Новости школы</a></li>
            <li><a href="{{ path("rithis_becrussia_school_discounts", {slug: school.slug}) }}">Скидки</a></li>
            <li><a href="{{ path("rithis_becrussia_school_comments", {slug: school.slug}) }}">Отзывы</a></li>
            <li><a href="{{ path("rithis_becrussia_school_schedule", {slug: school.slug}) }}">Расписание</a></li>
            <li><a href="{{ path("rithis_becrussia_school_contacts", {slug: school.slug}) }}">Контакты</a></li>
            <li><a href="{{ path("rithis_becrussia_onlinerequest_new") }}">Заявка на обучение</a></li>
        </ul>
    </nav>

    {% block school_content "" %}
</section>
{% endblock %}
