{% extends "RithisBECRussiaBundle::base.html.twig" %}

{% block content %}
<section class="article list list-with-figure education-courses">
    <header>
        <h1>Образовательные курсы <span class="education-courses-title">{{ type.title }}</span></h1>
    </header>

    <p>{{ type.description }}</p>

    {% for course in courses %}
        <article>
            <figure>
                {% thumbnail course.image, "medium" %}
            </figure>

            <header>
                <ul class="education-courses-schools">
                    {% for school in course.schools %}
                        <li><a href="{{ path("rithis_becrussia_school_get", {slug: school.slug}) }}">{{ school.title }}</a></li>
                    {% endfor %}
                </ul>

                <h2><a href="{{ path("rithis_becrussia_educationcourse_get", {slug: course.slug}) }}">{{ course.title }}</a></h2>
            </header>

            <blockquote>{{ course.annotation }}</blockquote>
        </article>
    {% endfor %}
</section>
{% endblock %}
