{% extends "RithisBECRussiaBundle::base.html.twig" %}

{% block content %}
    <section class="article list">
        <header>
            <h1>Поиск</h1>
        </header>

        <form action="{{ path("rithis_becrussia_search_get") }}" method="get">
            <p><input type="search" name="query" value="{{ query }}"></p>
            <p><button class="button">Искать</button></p>
        </form>

        {% if pagination is defined %}
            <header>
                <h2>Результаты поиска</h2>
            </header>

            {% for item in pagination %}
                <article>
                    <header>
                        {% if item|get_class == 'Rithis\\BECRussiaBundle\\Entity\\Page' %}

                            <h3><a href="{{ path("rithis_becrussia_page_get", {uri: item.uri}) }}">{{ item.title }}</a></h3>

                        {% elseif item|get_class == 'Rithis\\BECRussiaBundle\\Entity\\EducationCourse' %}

                            <h3><a href="{{ path("rithis_becrussia_educationcourse_get", {slug: item.slug}) }}">{{ item.title }}</a></h3>

                        {% elseif item|get_class == 'Rithis\\BECRussiaBundle\\Entity\\EducationCourseType' %}

                            <h3><a href="{{ path("rithis_becrussia_educationcoursetype_get", {slug: item.slug}) }}">{{ item.title }}</a></h3>

                        {% elseif item|get_class == 'Rithis\\BECRussiaBundle\\Entity\\News' %}

                            <h3><a href="{{ path("rithis_becrussia_news_get", {slug: item.slug}) }}">{{ item.title }}</a></h3>

                        {% elseif item|get_class == 'Rithis\\BECRussiaBundle\\Entity\\School' %}

                            <h3><a href="{{ path("rithis_becrussia_school_get", {slug: item.slug}) }}">{{ item.title }}</a></h3>

                        {% elseif item|get_class == 'Rithis\\BECRussiaBundle\\Entity\\Teacher' %}

                            <h3><a href="{{ path("rithis_becrussia_school_teachers", {slug: item.school.slug}) }}">{{ item.name }}</a></h3>

                        {% elseif item|get_class == 'Rithis\\BECRussiaBundle\\Entity\\Vacancy' %}

                            <h3><a href="{{ path("rithis_becrussia_vacancy_get", {slug: item.slug}) }}">{{ item.title }}</a></h3>

                        {% endif %}
                    </header>
                </article>
            {% else %}
                <p>К сожалению ничего не найдено.</p>
            {% endfor %}
        {% endif %}
    </section>

    {{ pagination.render("RithisBECRussiaBundle::pagination.html.twig")|raw }}
{% endblock %}
