{% extends "RithisBECRussiaBundle::base.html.twig" %}

{% block content %}
    <div class="title">Поиск<br><img src="{{ asset("bundles/rithisbecrussia/pict/1x1.gif") }}" alt="" border="0" width="10" height="10"><br></div><br>

    <form action="{{ path("rithis_becrussia_search_get") }}" method="get">
        <p><input type="search" name="query" value="{{ query }}"></p>
        <p><button class="button">Искать</button></p>
    </form>

    {% if pagination is defined %}
        <div class="title">Результаты поиска<br><img src="{{ asset("bundles/rithisbecrussia/pict/1x1.gif") }}" alt="" border="0" width="10" height="10"><br></div><br>

            {% for item in pagination %}
                {% if item|get_class == 'Rithis\\BECRussiaBundle\\Entity\\Page' %}

                    <a href="{{ path("rithis_becrussia_page_get", {uri: item.uri}) }}">{{ item.title }}</a><br><br>

                {% elseif item|get_class == 'Rithis\\BECRussiaBundle\\Entity\\EducationCourse' %}

                    <a href="{{ path("rithis_becrussia_educationcourse_get", {slug: item.slug}) }}">{{ item.title }}</a><br><br>

                {% elseif item|get_class == 'Rithis\\BECRussiaBundle\\Entity\\EducationCourseType' %}

                    <a href="{{ path("rithis_becrussia_educationcoursetype_get", {slug: item.slug}) }}">{{ item.title }}</a><br><br>

                {% elseif item|get_class == 'Rithis\\BECRussiaBundle\\Entity\\News' %}

                    <a href="{{ path("rithis_becrussia_news_get", {slug: item.slug}) }}">{{ item.title }}</a><br><br>

                {% elseif item|get_class == 'Rithis\\BECRussiaBundle\\Entity\\School' %}

                    <a href="{{ path("rithis_becrussia_school_get", {slug: item.slug}) }}">{{ item.title }}</a><br><br>

                {% elseif item|get_class == 'Rithis\\BECRussiaBundle\\Entity\\Teacher' %}

                    <a href="{{ path("rithis_becrussia_school_teachers", {slug: item.school.slug}) }}">{{ item.name }}</a><br><br>

                {% elseif item|get_class == 'Rithis\\BECRussiaBundle\\Entity\\Vacancy' %}

                    <a href="{{ path("rithis_becrussia_vacancy_get", {slug: item.slug}) }}">{{ item.title }}</a><br><br>

                {% endif %}
            {% else %}
                <p>К сожалению ничего не найдено.</p>
            {% endfor %}
        {% endif %}

    {{ pagination.render("RithisBECRussiaBundle::pagination.html.twig")|raw }}
{% endblock %}
