{% extends "RithisBECRussiaBundle::base.html.twig" %}

{% block content %}
    <div class="title">Поиск<br><img src="{{ asset("bundles/rithisbecrussia/pict/1x1.gif") }}" alt="" border="0" width="10" height="10"><br></div><br>

    <form action="{{ path("rithis_becrussia_search_get") }}" method="get">
        <p><input type="search" name="query" value="{{ query }}"></p>
        <p><button class="button">Искать</button></p>
    </form>

    {% if pagination is defined %}
        <div class="title">Результаты поиска<br><img src="{{ asset("bundles/rithisbecrussia/pict/1x1.gif") }}" alt="" border="0" width="10" height="10"><br></div><br>

        {% for page in pagination %}
            <a href="{{ path("rithis_becrussia_page_get", {uri: page.uri}) }}">{{ page.title }}</a><br><br>
        {% else %}
            <p>К сожалению ничего не найдено.</p>
        {% endfor %}
    {% endif %}

    {{ pagination.render("RithisBECRussiaBundle::pagination.html.twig")|raw }}
{% endblock %}
