{% extends "RithisBECRussiaBundle::school.html.twig" %}

{% block js %}
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?63"></script>

    <script type="text/javascript">
        VK.init({apiId: {{ vk_api_id }}, onlyWidgets: true});
    </script>

{% endblock %}

{% block school_content %}
    <section class="article list-with-figure list galleries">
        <header>
            <h1>Фото и Видео</h1>
            <div class="filtering">
                Тип: 
                {% for name, text in {all: 'Все', image: 'Изображение', youtube: 'Видео'} %}
                    {% if provider is sameas(name) %}
                        <span>{{ text }}</span>
                    {% else %}
                        <a href="{{ path("rithis_becrussia_school_galleries", app.request.query.all|merge({'slug': school.slug, 'provider': name})) }}">{{ text }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </header>

        {% for gallery in pagination %}
            {% include 'RithisBECRussiaBundle:School:gallery-item.html.twig' with {'gallery': gallery} %}
        {% endfor %}
    </section>

    {{ pagination.render("RithisBECRussiaBundle::pagination.html.twig")|raw }}
{% endblock %}
