{% extends "RithisBECRussiaBundle::school.html.twig" %}

{% block school_content %}
    <section class="article list-with-figure list">
        <header>
            <h1>Новости</h1>
        </header>

        {% for news in pagination %}
            <article>
                <figure>
                    {% thumbnail news.image, "medium" %}
                </figure>

                <header>
                    <p class="news-created-at">{{ news.createdAt|date('d.m.Y') }}</p>

                    <h2><a href="{{ path("rithis_becrussia_news_get", {slug: news.slug}) }}">{{ news.title }}</a></h2>
                </header>

                <blockquote>{{ news.annotation }}</blockquote>
            </article>
        {% endfor %}
    </section>

    {{ pagination.render("RithisBECRussiaBundle::pagination.html.twig")|raw }}
{% endblock %}
