{% if news|length > 0 %}
<div class="title">новости центра<br><img src="{{ asset("bundles/rithisbecrussia/pict/1x1.gif") }}" alt="" border="0" width="10" height="10"><br></div><br>

{% for news in news %}
<table width="170" cellspacing="0" cellpadding="0" border="0" align="left">
    <tr>
        <td>
            <a class="image-preview" href="{% path news.image, "big" %}">
                {% thumbnail news.image, "medium" %}
            </a>
            {#<img src="{{ asset("bundles/rithisbecrussia/pict/pict.jpg") }}" alt="" width="160" height="141" border="0" class="pict">#}
            <br></td>
        <td><img src="{{ asset("bundles/rithisbecrussia/pict/1x1.gif") }}" alt="" border="0" width="10" height="10"></td>
    </tr>
    <tr>
        <td><img src="{{ asset("bundles/rithisbecrussia/pict/pict_shadow_bg.gif") }}" alt="" border="0" width="100%" height="7"><br></td>
        <td></td>
    </tr>
</table>
<font class="news_date">{{ news.createdAt|date('d.m.Y') }}</font><br>
<a href="{{ path("rithis_becrussia_news_get", {slug: news.slug}) }}" class="news_title">{{ news.title }}</a><br>
    {{ news.annotation }}
<a href="{{ path("rithis_becrussia_news_get", {slug: news.slug}) }}" class="podr">Читать новость полностью</a>
<br><br><br>
<div style="clear: both"></div>
{% endfor %}

<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td class="all" width="100%"></td>
        <td><a href="{{ path("rithis_becrussia_news_all") }}"><img src="{{ asset("bundles/rithisbecrussia/pict/news_all.gif") }}" alt="Читать все новости" width="154" height="24" border="0"></a><br></td>
    </tr>
</table>
<br>
{% endif %}
