{% if news|length > 0 %}
    <section class="article list-with-figure list">
        <header>
            <h2>Новости филиалов</h2>
        </header>

        {% for news in news %}
            <article class="news-item">
                <header>
                    <figure>
                        {% thumbnail news.image, "small" %}
                    </figure>

                    <p class="news-created-at">{{ news.createdAt|date('d.m.Y') }}</p>

                    <p>
                        <a href="{{ path("rithis_becrussia_school_get", {slug: news.school.slug}) }}">{{ news.school }}</a>
                    </p>
                    <address>{{ news.school.address }}</address>
                    <h3><a href="{{ path("rithis_becrussia_news_get", {slug: news.slug}) }}">{{ news.title }}</a></h3>
                </header>

                <blockquote>{{ news.annotation }}</blockquote>
            </article>
        {% endfor %}

        <footer>
            <a href="{{ path("rithis_becrussia_news_all") }}" class="button">Читать все новости</a>
        </footer>
    </section>
{% endif %}
