<h2>Schools News</h2>

{% for news in news %}
    <div class="clearfix">
        {% thumbnail news.image, "small" with {class: "pull-left"} %}
        <p>{{ news.createdAt|date('d.m.Y') }}</p>
        <p>{{ news.school }}</p>
        <p>School: {{ news.school.address }}</p>
    </div>

    <div class="clearfix">
        <h3><a href="{{ path("rithis_becrussia_news_get", {slug: news.slug}) }}">{{ news.title }}</a></h3>
        <p>{{ news.annotation }}</p>
    </div>

    {% if not loop.last %}<hr>{% endif %}
{% endfor %}

<p><a href="{{ path("rithis_becrussia_news_all") }}">Read all news</a></p>
